.wrapper {
    display: flex;
    flex-direction: column;
    width: 95%;
    border: 1px dashed rgba($color: #000000, $alpha: 0.3);
    border-radius: 4px;

    &:hover {
        h5 {
            color: var(--primary);
        }

        .wrapper-img-select {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;

    h5 {
        font-size: 1.4rem;
        color: var(--text);
        width: 100%;
        padding: 20px 10px;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.img {
    position: relative;
    width: 100%;

    img {
        width: 100%;
    }
}

.wrapper-img-select {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(233, 233, 233, 0.82);
    padding: 8px 0;
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.25s linear;
}

.price {
    position: relative;
    width: 100%;
    padding: 10px;
    border-top: 1px dashed rgba($color: #000000, $alpha: 0.3);

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 25px;
        height: 25px;
        background: var(--white);
        border-right: 1px dashed rgba($color: #000000, $alpha: 0.3);
        transform: translate(-50%,-50%);
        border-radius: 50%;
    }

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        width: 25px;
        height: 25px;
        background: var(--white);
        border-left: 1px dashed rgba($color: #000000, $alpha: 0.3);
        transform: translate(50%,-50%);
        border-radius: 50%;
    }
}

.img-select {
    width: 33px;
    height: 33px;
    border-radius: 8px;

    img {
        width: 33px;
        height: 33px;
        object-fit: cover;
        border-radius: 8px;
    }
}

.img-select:hover {
    img {
        border: 1px solid var(--primary);
    }
}

.img-select.active {
    img {
        border: 1px solid var(--primary);
    }
}